@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Open+Sans:wght@300;400&family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bellefair&family=Open+Sans:wght@300;400&family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap");
:root {
  --title_Color: #FFFFFF;
  --text_Color: #D0D6F9;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body{
  background-image: url("/root/img/background-home-desktop.jpg");
  color: white;
  background-size:cover;
  overflow: hidden;
}

.icon{
  width: 40px;
  height: 40px;
  display: inline;
  position: relative;
  top: 75px;
  left: 50px;
  border-radius: 25px;
}

.line:before{
  z-index: 2;
  content: "";
  height: 1.5px;
  width: 30%;
  position: absolute;
  background-color: rgba(152, 150, 150, 0.397);
  margin-left: 20%;
  top: 92px;
}

.home-header {
  width: 100vw;
  z-index: 1;
  position: absolute;
  display: flex;
}

#container{
  margin:auto;
  width: 48vw;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  margin-top: 60px;
  margin-right: 0px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.nav{
  display: flex;
  justify-content: space-around;
}

a{
  height: 65px;
  text-align: center;
  font-size: 22px;
}

ul, ol{
  list-style: none;
}

.nav li a{
  color: white;
  text-decoration: none;
  padding: 18px 5px;
  display: block;
}

.nav li a:hover{
  background: rgba(255, 255, 255, 0.244);
  backdrop-filter: blur(81.5485px);
}
.nav > li{
  float: left;
  width: 25%;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul{
   display: block;
}


.about-information__background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
} 
.about-information__div_general {
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: flex;
  -webkit-margin-before: -70vh;
          margin-block-start: -70vh;
  -webkit-padding-start: 10vw;
          padding-inline-start: 10vw;
}
.galaxy__img{
    margin-top: 3rem;
    margin-left: 3rem;
    
}
.galaxy__image{
    width: 65%;
    border-radius: 20%;
    box-shadow: 1px 1px 60px 40px;
}
.about-information__text {
  color: var(--title_Color);
  gap: 20px;
  width: 50rem;
}
.about-information__title {
  font-family: "Bellefair", serif;
  font-size: 4rem;
  color: var(--title_Color);
  margin: 0 auto;
}
.about-information__textContent {
  font-family: "Barlow", sans-serif;
  line-height: 40px;
  font-size: 1.2rem;
  width: 80%;
  color: var(--text_Color);
}
.about-information__second-section {
  font-size: 2rem;
}

h2{
    width: 60%;
    font-family: "Barlow", sans-serif;
    font-size: 2rem;
    margin-top: 6rem;
}
.about-information__paragraph{
    width: 80%;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text_Color);
}






/* .nav {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  width: 100vw;
  height: 12vh;
}
.nav__logo {
  -webkit-padding-start: 5%;
          padding-inline-start: 5%;
  align-self: center;
  width: 3%;
}
.nav__div {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  width: 55vw;
}
.nav__line {
  z-index: 2;
  position: absolute;
  align-self: center;
  -webkit-margin-start: 350px;
          margin-inline-start: 350px;
  height: 2px;
  width: 750px;
  background-color: #FFFFFF;
  opacity: 0.25;
}
*/
