@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Open+Sans:wght@300;400&family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bellefair&family=Open+Sans:wght@300;400&family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{
    background-image: url("/root/img/background-home-desktop.jpg");
    color: white;
    background-size:cover;
    overflow: hidden;
}

.icon{
    width: 40px;
    height: 40px;
    display: inline;
    position: relative;
    top: 75px;
    left: 50px;
    border-radius: 25px;
}

.line:before{
    content: "";
    height: 1.5px;
    width: 45%;
    position: absolute;
    background-color: rgba(152, 150, 150, 0.397);
    margin-left: 6.5%;
    top: 92px;
    z-index: 2;
}

.home-header {
    display: flex;
    justify-content:flex-end;
}

#container{
    margin:auto;
    width: 48vw;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-right: 0px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.nav{
    display: flex;
    justify-content: space-around;
}

a{
    height: 65px;
    text-align: center;
    font-size: 22px;
}

ul, ol{
    list-style: none;
}

.nav li a{
    color: white;
    text-decoration: none;
    padding: 18px 5px;
    display: block;
}

.nav li a:hover{
    background: rgba(255, 255, 255, 0.244);
    backdrop-filter: blur(81.5485px);
}
.nav > li{
    float: left;
    width: 25%;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
     display: block;
}


#section-container{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.first-paragraph{
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 12rem;
}

h1{
    font-size: 130px;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
}

.second-paragraph{
    font-size: 17.6px;
    width: 27%;
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
}

#button-explore{
    width: 200px;
    height: 200px;
    display: inline;
    position: relative;
    border-radius: 100px;
    top: -170px;
    left: 67.5%;
    font-family: 'Bellefair', serif;
    font-size: 20px;
    font-weight: 50%;
    border-style: none;
    box-shadow: inset 20px 10px 10px rgba(207, 205, 205, 0.397);
}